@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 6.7%;
  --foreground: 0 0% 92.9%;
  --muted: 0 0% 50.6%;
  --overlay: 0 0% 0%;
  --accent: 167 100% 70.2%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
